<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset</title>
</head>
<body>
    <form action="/api/user/resetpassword" method="post">
        <h2>Reset Password</h2>
            <label for="newpassword">New Password</label>
            <input type="password" id="newpassword" name="newpassword" required>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>

        <button type="submit" class="btn">Reset Password</button>
    </form>
    
</body>
</html>