<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify email</title>
</head>
<body>
    <form action="/api/user/generateotp" method="post">
        <h1>Forgot Password :</h1>
       <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>

        <button type="submit">Verify Email</button>
    </form>
    
</body>
</html>